# ROS1 deps not pip-installable: genpy, rosbag, roslib, rospy, rosservice
# ROS2 deps not pip-installable: ament_index_python, builtin_interfaces, rclpy, rosidl_parser, rosidl_runtime_py
# ROS2 test running: pytest, pytest-forked
# for generating API documentation: git+https://github.com/Feneric/doxypypy
pyyaml
